/**
 * Created by Jackson on 7/31/16.
 */

@font-face {
    src: url(../fonts/Minecrafter.Reg.ttf);
    font-family: 'Minecrafter Reg';
}

body {
    position: relative;
}

.cover{
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.cover:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    opacity: .4;
    background: #000;
    background: url("../images/pattern.png");
}

.bgvid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    overflow-y: hidden;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.content h1{
    font-family: 'Minecrafter Reg', sans-serif;
    font-size: 50px;
    text-align: center;
}

.top {
    text-align: center;
    margin-left: 0;
    height: 100vh;
    position: relative;
}

.top-wrapper{
    position: absolute;
    width: 100%;
    top: 35%;
    transform: translateY(-50%);
    z-index: 2;
}

.top h1{
    color: white;
    font-size: 100px;
    font-family: 'Minecrafter Reg', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: 100;
}

.excerpt h1{
    color: white;
    font-size: 80px;
    font-family: 'Minecrafter Reg', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: 100;
}

.top h2{
    color: white;
}

.top p {
    color: white;
    font-size: 30px;
    font-family: 'Minecrafter Reg', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 2px black;
}

.navigation{
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 10%;
    height: auto;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    transition: all 0.3s;
}

.navigation p{
    font-size: 24px;
}

.nav-fixed{
    position: fixed;
    font-size: 12px;
    background-color: white;
    border-bottom: 1px solid #adadad;
    padding: 20px;
    transform: translateY(0);
    height: 100px;
    top: 0;
    bottom: 90%;
    color: #333;
    z-index: 1000;
    text-shadow: none;
}

.nav-fixed p{
    font-size: 14px;
    text-shadow: none;
}

.navigation .nav-wrapper{
    position: relative;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation a:hover{
    color: inherit;
    text-decoration: none;
}

.navigation .nav-wrapper div{
    bottom: 0;
    min-height: 132px;
    transition: all 0.3s;
}

.nav-fixed .nav-wrapper div{
    bottom: 0;
    min-height: 0;
    transition: all 0.3s;
}

.brand p{
    font-size: 30px;
    line-height: 70px;
    transition: all 0.3s;
}

.brand p:hover{
    font-size: 36px;
    line-height: 70px;
}

.hidden{
    display: none;
}

.nav-wrapper p{
    color: inherit;
}

.navigation .nav-item:hover{
    font-size: 28px;
}

.nav-fixed .nav-item:hover{
    font-size: 16px;
}

.active{
    font-size: 16px;
}

.red.active:hover{
    color: #af0000;
}

.green.active:hover{
    color: #004500;
}

.blue.active:hover{
    color: #225164;
}

.yellow.active:hover{
    color: #967b00;
}

.purple.active:hover{
    color: #561d91;
}



.red.active, .red:hover{
    color: red;
}

.green.active, .green:hover{
    color: green;
}

.blue.active, .blue:hover{
    color: #337f97;
}

.yellow.active, .yellow:hover{
    color: #cca900;
}

.purple.active, .purple:hover{
    color: blueviolet;
}

.nav-wrapper .fa{
    display: block;
}

.excerpt-wrapper {
    padding: 100px 10%;
}

.excerpt {
    width: 100%;
    z-index: 2;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.excerpt h2 {
    font-size: 50px;
    font-family: 'Bungee', cursive;
}

.excerpt h3 {
    font-size: 30px;
}

.excerpt .number {
    font-size: 70px;
}

.excerpt-white {
    background-color: white;
}

.excerpt-grey {
    background-color: #fcfcfc;
}

.excerpt-black{
    background-color: #111;
    color: white;
}

.excerpt-darkgrey{
    background-color: #333;
    color: white;
}

.excerpt-clear {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.spacer-lg {
    height: 700px;
}

.spacer-md {
    height: 400px;
}

.spacer-sm {
    height: 200px;
}

.spacer-xs {
    height: 70px;
}

.light {
    font-weight: 300;
}

.block{
    padding: 0;
    margin: 0;
}

.block .excerpt-wrapper{
    padding-top: 25px;
}

.excerpt .row{
    max-width: 100%;
    margin: 0;
}

.block-image img{
    width: 100%;
}

.footer {
    height: 70px;
    width: 100%;
    background-color: #333;
    line-height: 70px;
    padding-right: 50px;
    padding-left: 50px;
    color: grey;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

.footer a {
    color: grey;
}

.footer a:hover {
    color: lightgrey;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    display: inline;
}

.footer ul.right {
    float: right;
    padding-right: 30px;
}

.footer ul li {
    display: inline;
    padding-left: 30px;
}
.separator {
    display: inline-flex;
    margin-top: -30px;
}

.line{
    width: 120px;
    border: 1px solid #333;
    margin: auto;
    margin-top: 12%;
    margin-left: 10px;
    margin-right: 10px;
}

.excerpt-black .line{
    border-color: white;
}

.top .line {
    width: 120px;
    border: 1px solid white;
    margin: 10% 10px auto;
}

.arrow{
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.arrow a{
    color: #ddd;
    text-shadow: 2px 2px 2px black;
    font-size: 35px;
    padding: 10px;
    transition: all 0.2s;
    z-index: 2;
}

.arrow a:hover{
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.mixitup{
    min-height: 500px;
}

.mixitup .mix{
    display: none;
    margin-bottom: 35px;
}

.mixitup .well{
    min-height: 225px;
}

.label{
    margin-right: 5px;
    margin-left: 5px;
}

/* TODO: Make 'Builder' group pink or yellow */

.label-purple{
    background-color: #770b6a;
}

.label-yellow{
    background-color: #ffd700;
}

.label-darkred{
    background-color: #b40400;
}

.btn.filter{
    margin: 10px;
}

.btn{
    width: 160px;
}

.btn-yellow {
    border-color: #ffd700;
    color: #ffd700;
}
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active, .open > .btn-yellow.dropdown-toggle {
    background-color: transparent;
    color: #ffd700;
    border-color: #ffd700;
}
.btn-yellow.disabled, .btn-yellow.disabled:hover, .btn-yellow.disabled:focus, .btn-yellow.disabled.focus, .btn-yellow.disabled:active, .btn-yellow.disabled.active, .btn-yellow:disabled, .btn-yellow:disabled:hover, .btn-yellow:disabled:focus, .btn-yellow:disabled.focus, .btn-yellow:disabled:active, .btn-yellow:disabled.active, .btn-yellow[disabled], .btn-yellow[disabled]:hover, .btn-yellow[disabled]:focus, .btn-yellow[disabled].focus, .btn-yellow[disabled]:active, .btn-yellow[disabled].active, fieldset[disabled] .btn-yellow, fieldset[disabled] .btn-yellow:hover, fieldset[disabled] .btn-yellow:focus, fieldset[disabled] .btn-yellow.focus, fieldset[disabled] .btn-yellow:active, fieldset[disabled] .btn-yellow.active {
    background-color: transparent;
    border-color: #ffd700;
}
.btn-yellow.btn-fill {
    color: #FFFFFF;
    background-color: #ffd700;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-yellow.btn-fill:hover, .btn-yellow.btn-fill:focus, .btn-yellow.btn-fill:active, .btn-yellow.btn-fill.active, .open > .btn-yellow.btn-fill.dropdown-toggle {
    background-color: #eac300;
    color: #FFFFFF;
}
.btn-yellow.btn-fill .caret {
    border-top-color: #FFFFFF;
}
.btn-yellow .caret {
    border-top-color: #ffd700;
}

.btn-darkred {
    border-color: #b40400; /* FF3B30 */
    color: #b40400;
}
.btn-darkred:hover, .btn-darkred:focus, .btn-darkred:active, .btn-darkred.active, .open > .btn-darkred.dropdown-toggle {
    background-color: transparent;
    color: #a20400; /* EE2D20 */
    border-color: #a20400;
}
.btn-darkred.disabled, .btn-darkred.disabled:hover, .btn-darkred.disabled:focus, .btn-darkred.disabled.focus, .btn-darkred.disabled:active, .btn-darkred.disabled.active, .btn-darkred:disabled, .btn-darkred:disabled:hover, .btn-darkred:disabled:focus, .btn-darkred:disabled.focus, .btn-darkred:disabled:active, .btn-darkred:disabled.active, .btn-darkred[disabled], .btn-darkred[disabled]:hover, .btn-darkred[disabled]:focus, .btn-darkred[disabled].focus, .btn-darkred[disabled]:active, .btn-darkred[disabled].active, fieldset[disabled] .btn-darkred, fieldset[disabled] .btn-darkred:hover, fieldset[disabled] .btn-darkred:focus, fieldset[disabled] .btn-darkred.focus, fieldset[disabled] .btn-darkred:active, fieldset[disabled] .btn-darkred.active {
    background-color: transparent;
    border-color: #b40400;
}
.btn-darkred.btn-fill {
    color: #FFFFFF;
    background-color: #b40400;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-darkred.btn-fill:hover, .btn-darkred.btn-fill:focus, .btn-darkred.btn-fill:active, .btn-darkred.btn-fill.active, .open > .btn-darkred.btn-fill.dropdown-toggle {
    background-color: #a20400;
    color: #FFFFFF;
}
.btn-darkred.btn-fill .caret {
    border-top-color: #FFFFFF;
}
.btn-darkred .caret {
    border-top-color: #b40400;
}

.btn-purple {
    border-color: #770b6a; /* b40400 */
    color: #770b6a;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open > .btn-purple.dropdown-toggle {
    background-color: transparent;
    color: #660b59; /* a20400 */
    border-color: #660b59;
}
.btn-purple.disabled, .btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled.focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple:disabled, .btn-purple:disabled:hover, .btn-purple:disabled:focus, .btn-purple:disabled.focus, .btn-purple:disabled:active, .btn-purple:disabled.active, .btn-purple[disabled], .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled].focus, .btn-purple[disabled]:active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple, fieldset[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple.focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
    background-color: transparent;
    border-color: #770b6a;
}
.btn-purple.btn-fill {
    color: #FFFFFF;
    background-color: #770b6a;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-purple.btn-fill:hover, .btn-purple.btn-fill:focus, .btn-purple.btn-fill:active, .btn-purple.btn-fill.active, .open > .btn-purple.btn-fill.dropdown-toggle {
    background-color: #660b59;
    color: #FFFFFF;
}
.btn-purple.btn-fill .caret {
    border-top-color: #FFFFFF;
}
.btn-purple .caret {
    border-top-color: #770b6a;
}